/*===== Gothic League Local =====*/

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
/*===== Playlist font - local =====*/
@font-face {
  font-family: 'Playlist-Script';
  src: url(/assets/playlist\ -script-font/Playlist-Script.ttf.woff) format('woff'),
    url('Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
    url(/assets/playlist\ -script-font/Playlist-Script.ttf.eot),
    url('/assets/playlist\ -script-font/Playlist-Script.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: brown;
}

h1 {
  font-family: 'League Gothic', 'Playlist-Script';
}

h3 {
  font-family: 'Playlist-Script';
}
