/*===== Gothic League Local =====*/

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
/*===== Playlist font - local =====*/
@font-face {
  font-family: 'Playlist-Script';
  src: url(/assets/playlist\ -script-font/Playlist-Script.ttf.woff) format('woff'),
    url('Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
    url(/assets/playlist\ -script-font/Playlist-Script.ttf.eot),
    url('/assets/playlist\ -script-font/Playlist-Script.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: whitesmoke;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f5d2d2;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.caldosLogo {
  width: 100px;
}
/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}
